.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
  margin-top: 20px;

}



.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}
body{
  background: url(../img/tecnologia-2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

