@media screen 
    and
    (min-width:480px)
    and (max-width:1023px)
{
      body
{
	background-color:dimgray;
    margin: 0px 0px 0px 0px;
}
    .div{
    
	width:100%;
	height:70px;
	text-align: center;
	background-color:burlywood;
	color:#2e8b57;
    font-size:58px; 
        margin-top: ;
    }
    .txt1{
        color:firebrick;
        margin-top:5px;
        font-family:serif;
        text-align: center;
    }
    .img1{
        border-radius: 5px;
        width:150px;
        position: absolute;
    }
    .img2{
        width: 100%;
        height:300px;
        display:block;
    }
    .c1{
          display: inline-block;
        width: 32%;
        height: 250px;
        background-color: brown;
        font-size: 20px;
        
    }
    
    .c2{
        display: inline-block;
        width: 32%;
        height: 250px;
        background-color: brown;
        font-size: 20px;
    }
    .c3{
      display: inline-block;
        width: 32%;
        height: 250px;
        background-color: brown;
        font-size: 20px;
    }
    
}